In [1]:
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd

In [106]:
#dataset = pd.read_csv( 'data_ap.csv', header = None) 
#dataset

In [2]:
import csv

data = [];
with open('data_ap.csv') as f:
    reader=csv.reader(f)
    data=[row for row in reader]

    
while i<10:
    print('hello')

NameError: name 'i' is not defined

In [108]:
#transactions = []
#for i in range(0, 1419): 
#    transactions.append ([str(dataset.values[i,j]) for j in range(0, len(dataset[i]))])

In [109]:
datasetEx = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [110]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary, columns=te.columns_)
df.head()

,,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,baby food,bags,baking powder,bathroom cleaner,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [111]:
from mlxtend.frequent_patterns import apriori

apriori(df, min_support=0.1)

     support  itemsets
0   0.999898       (0)
1   0.110524      (14)
2   0.193493     (104)
3   0.183935     (124)
4   0.108998     (125)
5   0.174377     (140)
6   0.104931     (159)
7   0.255516     (167)
8   0.139502     (168)
9   0.110524   (0, 14)
10  0.193391  (0, 104)
11  0.183833  (0, 124)
12  0.108897  (0, 125)
13  0.174377  (0, 140)
14  0.104830  (0, 159)
15  0.255414  (0, 167)
16  0.139400  (0, 168)

In [112]:
apriori(df, min_support=0.1, use_colnames=True)

     support              itemsets
0   0.999898                    ()
1   0.110524       (bottled water)
2   0.193493    (other vegetables)
3   0.183935          (rolls/buns)
4   0.108998     (root vegetables)
5   0.174377                (soda)
6   0.104931      (tropical fruit)
7   0.255516          (whole milk)
8   0.139502              (yogurt)
9   0.110524     (, bottled water)
10  0.193391  (, other vegetables)
11  0.183833        (, rolls/buns)
12  0.108897   (, root vegetables)
13  0.174377              (, soda)
14  0.104830    (, tropical fruit)
15  0.255414        (, whole milk)
16  0.139400            (, yogurt)